{% include "header4.html" %}
    <style>
        .tagged-button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #007bff;
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
          font-size: 16px;
          font-weight: bold;
        }
      
        .tagged-button:hover {
          background-color: #0056b3;
        }
      </style>
      <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">Message</h1>
                    <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>

                </div>
            </div>
            {% include 'users/navbar_user.html' %}
                

               
            <br>

            <h2>Message Sent</h2>

    {% comment %} <a href="{% url "view_messages" %}" class="tagged-button">view message!</a> {% endcomment %}


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    {% include 'footer.html' %}
    
