{% include 'header4.html' %}


<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">VEHICLE DETAILS</h1>
                <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>
 
            </div>
        </div>

        {% include 'users/navbar_user.html' %}
                

               
        <br>
<div class="hall-ticket">
    <div class="header">
        {% comment %} <h1> Hall Ticket</h1> {% endcomment %}
        <h5><b><span style='color:red;'>ELECTION DATE: </span> 31st December, 2023</b></h5>
    </div>
    {% comment %} <div style='border:1px solid black; text-align:center;' ><h4>TEAM MEMBERS</h4></div><br> {% endcomment %}
    <div class="vehicle-details">
        <h1>Vehicle Details</h1><br>
        <div class="details">
            <p><strong>Make:</strong> Toyota</p>
            <p><strong>Model:</strong> Camry</p>
            <p><strong>Year:</strong> 2022</p>
            <p><strong>Color:</strong> Silver</p>
            <p><strong>License Plate:</strong> ABC123</p>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}


