<table class="table table-hover table-center mb-0 datatable" style="white-space: nowrap; overflow-x: auto; display: block;">
   <thead>
      <tr>
         <th>ID</th>
         <th>Name</th>
         <th>Email</th>
         <th>Gender</th>
         <th>Userame</th>
         <th>Address</th>
         <th>Created_at</th>
         <th>Updated_at</th>
         <th class="text-right">Action</th>
      </tr>
   </thead>
   <tbody style="width: 100%;">
               {% for i in user %}
            
               <tr>
                  <td>{{i.id}}</td>
                  <td>  
                     {{i.admin.first_name}}&nbsp;{{i.admin.last_name}}
                     
                  </td>
                  <td>{{i.admin.email}}</td>
                  <td>{{i.gender}}</td>
                  <td>{{i.admin.username}}</td>
                  <td>{{i.address}}</td>
                  <td>{{i.created_at}}</td>
                  <td>{{i.updated_at}}</td>
                  <td class="text-right">
                     <div class="actions">
                        <a href="#" class="btn btn-sm bg-success-light mr-2" style="color: blue;">
                        <i class="fa fa-edit" style="font-size:18px"></i>
                        </a>
                        <a href="#" class="btn btn-sm bg-danger-light" style="color: red;">
                           <i class="fa fa-trash-o" style="font-size:18px"></i>
                        </a>
                     </div>
                  </td>
               </tr>
               {% endfor %}
               </tbody>
            </table>
            <center>
               <ul class="pagination">
                  {% if user.has_previous %}
                      <li><a href="?page=1">First</a></li>
                      <li><a href="?page={{ user.previous_page_number }}">Previous</a></li>
                  {% endif %}
          
                  {% for i in user.paginator.page_range %}
                      {% if user.number == i %}
                          <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                      {% else %}
                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                  {% endfor %}
          
                  {% if user.has_next %}
                      <li><a href="?page={{ user.next_page_number }}">Next</a></li>
                      <li><a href="?page={{ user.paginator.num_pages }}">Last</a></li>
                  {% endif %}
              </ul>
            </center>
         </div>
      </div>
   </div>
</div>
