{% include "header2.html" %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Upload Post File Here !</h1>
                        <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>

                    </div>
                </div>
                {% include 'superuser/navbar_superuser.html' %}
                

               
                <br>
                <!-- /. ROW  -->

                <h1>Upload Post CSV/EXCEL File</h1><br><br><br><br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <center>{{ form.as_p }}</center>
                    <button type="submit">Upload</button>
                </form>

                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                {% include "footer.html" %}