
<div id="footer-sec">
    &copy; 2021 Venus Global Enterprices | Promoted By : <a href="#" target="_blank">VenusGlobal.com</a>
</div>
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="/static/assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="/static/assets/js/bootstrap.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="/static/assets/js/jquery.metisMenu.js"></script>
   <!-- CUSTOM SCRIPTS -->
<script src="/static/assets/js/custom.js"></script>



</body>
</html>
